[submodule "docker/docker-cosmos"]
	path = docker/docker-cosmos
	url = https://github.com/ryanhendricks/docker-cosmos
[submodule "docker/docker-irisnet"]
	path = docker/docker-irisnet
	url = https://github.com/RyanHendricks/docker-irisnet
[submodule "docker/docker-kava"]
	path = docker/docker-kava
	url = https://github.com/RyanHendricks/docker-kava
[submodule "docker/docker-regen"]
	path = docker/docker-regen
	url = https://github.com/RyanHendricks/docker-regen
