version: '3.2'

services:
  docker-cosmos:
    container_name: cosmos-mainnet
    build:
      context: ./docker-cosmos
      dockerfile: Dockerfile
    environment: 
      - MONIKER=NodeName
      - CHAIN_ID=cosmoshub-3
      - GENESIS_URL=https://raw.githubusercontent.com/cosmos/launch/master/genesis.json
      - SEEDS=cb8df8b29e4aca2aa4327f9e2e761c831f1d03a0@35.245.40.76:26656,0141b28d81db4e5b55736a6367cf044c35a8c29e@35.245.96.132:26656
      - PERSISTENT_PEERS=cb8df8b29e4aca2aa4327f9e2e761c831f1d03a0@35.245.40.76:26656,0141b28d81db4e5b55736a6367cf044c35a8c29e@35.245.96.132:26656
      - BOOTSTRAP=TRUE
      - GAIAD_HOME=/.gaiad
      - PROMETHEUS_LISTEN_ADDR=26660
      # - CACHE_SIZE=10000
    restart: always
    ports:
      - "26650:26650"
      - "26656:26656"
      - "26657:26657"
      - "26658:26658"
      - "1317:1317" # for rest-server
    volumes:
      - cosmos-data:/.gaiad
  docker-irisnet:
    build:
      context: ./docker-irisnet
      dockerfile: Dockerfile
    container_name: iris-node
    environment:
      - MONIKER=Irishub
      - CHAIN_ID=irishub
      - BOOTSTRAP=FALSE
      - IRIS_HOME=/.iris
      - SEEDS=78cf474f6bf25f8a8e3be5c1c7b095f1a60691fd@35.245.40.76:36656
      - PERSISTENT_PEERS=78cf474f6bf25f8a8e3be5c1c7b095f1a60691fd@35.245.40.76:36656
      - PROMETHEUS_LISTEN_ADDR=36660
      - MAX_OPEN_CONNECTIONS=10
      - LCD_PORT=3317
      - RPC_PORT=36657
      - P2P_PORT=36656
      - PROXY_APP_PORT=36658
    restart: always
    ports:
      - "36656:36656"
      - "36657:36657"
      - "36658:36658"
      - "3317:3317" # for rest-server
    volumes:
      - iris-data:/.iris
  docker-kava:
    container_name: kava-node
    build:
      context: ./docker-kava
      dockerfile: Dockerfile
    environment: 
      - MONIKER=NodeName
      - CHAIN_ID=kava-2
      - GENESIS_URL=https://raw.githubusercontent.com/Kava-Labs/launch/master/kava-2/genesis.json
      - KVD_HOME=/.kvd
      - SEEDS=b318eca9bd19cfae08414367bf18cd35727ff9b7@13.229.196.145:50056,9c5c5947fa767ac4482212abdb05cb8cf59ad832@52.6.176.27:26656,34cb93e02d2ff70ee11631ff1e0de5ac042b4b69@34.68.32.46:26656
      - PERSISTENT_PEERS=c6e38d744462377273926daaf36816b96596f332@34.84.191.117:26656,ab1b544f594becea2a0af3c964568431896c03a4@35.228.68.223:26656,34870045ec4bd17ac2bbad23b7c15faf0186cbd4@140.82.8.156:26656,d21edfd1bdde037a2402e2eabf064cd8cd4b49b9@54.39.182.190:26656,43a8004ece305e1d9407d00bb26958591cbf8ce2@kava01.dokia.cloud:26656,b1bcd6969f03940032f7f9c315ff3bbc1ee8cd20@185.181.103.135:26656,aafd0790e2abdffa44852eb33f9864904affbaa5@18.197.230.170:26656,43040b8c9516e2d7fc0b95f2e070a3cb37dc6c2e@35.245.180.181:26656
      - PROMETHEUS_LISTEN_ADDR=46660
      - MAX_OPEN_CONNECTIONS=10
      - LCD_PORT=4317
      - RPC_PORT=46657
      - P2P_PORT=46656
      - PROXY_APP_PORT=46658
    restart: always
    ports:
      - "46656:46656"
      - "46657:46657"
      - "46658:46658"
      - "4317:4317" # for rest-server
    volumes:
      - kava-data:/.kvd
  docker-terra:
    build:
      context: ./docker-terra
      dockerfile: Dockerfile
    container_name: terra-node
    environment:
    - MONIKER=NodeName
    - CHAIN_ID=columbus-3
    - BOOTSTRAP="FALSE"
    - TERRAD_HOME=/.terrad
    - GENESIS_URL=https://columbus-genesis.s3-ap-northeast-1.amazonaws.com/genesis.json
    - SEEDS=a4070a40826dffa0881ac4d9fa8c0818953b0681@35.245.40.76:56656,447ba60df6fdc2466e1ab4c328e100d6bc5765f8@seed-only.terra-columbus-3.bas.network:26656,6be0856f6365559fdc2e9e97a07d609f754632b0@terra-columbus-3-seed.nodes.polychainlabs.com:26656,b416f0b04e2c71b8d76f993468352030e2dcf2a9@public-seed-node.columbus.certus.one:26656,87048bf71526fb92d73733ba3ddb79b7a83ca11e@public-seed.terra.dev:26656,b5205baf1d52b6f91afb0da7d7b33dcebc71755f@public-seed2.terra.dev:26656,535222fdb795df6653934f22b8e5f16fdfacc9f6@seed.terra.de-light.io:26656,bae08cc880c20aeda68a5a890a71a9b44ac73cb4@terra-seed-eu.chorus.one:28657,925ecc3de9e2ac65a203beb2333ced1a00c135ed@terra-seed-us.chorus.one:28657
    - PERSISTENT_PEERS=a4070a40826dffa0881ac4d9fa8c0818953b0681@35.245.40.76:56656,e6325ba7c490ba371135c9f3fcead66da1bd8cf1@terra-sentry01.dokia.cloud:26656,dba5defd7b120937da37aea7f37d06870637558d@terra-sentry02.dokia.cloud:26656,eb4ce12133c450ba6665e06309570ea2843e21d8@167.86.104.33:26656,7277be5ce17d60cf26c92a7cafbb9fc7da7f2be5@51.38.103.128:26656,1cb3e13efe7ca25fb68249169a15e85e53c3b3e9@terra-main.peer.nodeateam.kr:26656,46bc5183ef3b6ea9ffa84df16d6a5aa4a642427a@node.terra.forbole.com:26656
    - ADDR_BOOK_STRICT="false"
    - PROMETHEUS_LISTEN_ADDR=56660
    - MAX_OPEN_CONNECTIONS=10
    - LCD_PORT=5317
    - RPC_PORT=56657
    - P2P_PORT=56656
    - PROXY_APP_PORT=56658
    restart: always
    ports:
      - "56656:56656"
      - "56657:56657"
      - "56658:56658"
      - "5317:5317" # for rest-server
    volumes:
      - terra-data:/.terrad
volumes:
  cosmos-data:
  iris-data:
  kava-data:
  terra-data: